/* font */
/* font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Poppins', sans-serif; */

body{
    /* background-color: rgba(228, 223, 223,0.8); */
    background-color: #c9c9ff;
    /* background-color: #3b444b; */
    /* background-color: #36454f; */
    /* font-family: 'Roboto', sans-serif; */

}


/* side profile design */
.side-profile{
    height: 550px;
    /* font-family: 'Rubik', sans-serif; */
    /* background-color: #df3950; */
    background-color: white;
    /* position: sticky; */
    top: 0;
}
.side-profile img{
    height: 300px;
}

.side-profile h1{
  font-family: 'Meie Script', cursive;
    color: #343d46;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif; 

}
.job{
    color: #c1c1c1;
    font-weight: 400;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
}
.side-profile .hire-btn{
  background-color: rgb(31, 63, 63);
  font-weight: 700;
  text-align: center;
  color: white;
  padding: 5px 10px;
  margin-top: 10px;
}

.hire-btn:hover{
  background-color: rgb(238, 60, 28);
}

.social-icons a{
    font-size: 12px;
    color: #2A2A2A;
    border: solid 1px #2A2A2A;
    border-radius: 50px;
    width: 34px;
    display: inline-block;
    padding: 8px 0;
    margin-right: 5px;
    text-align: center;
}



.facebook:hover{
background-color: 	#3b5998;
border: white;
color: white;
}
.twitter:hover{
background-color: #009eff;
border: white;
color: white;
}
.instagram:hover{
background-color: #ffb900;
border: white;
color: white;
}
.github:hover{
background-color: black;
border: white;
color: white;
}

/* navbar design */

.navbar{
    position: fi;
}

.top-menu{
display: grid;
grid-template-columns: repeat(5,1fr);

}
 .top-menu li{
    border-right: 1px dotted gray;
    color: #343d46;
     display: flex;
     padding: 35px 8px;
     /* background-color: #df3950; */
     background-color: white;
     justify-content: center;
     font-weight: 500;

 }
 .top-menu li:last-child{
    border-right:white;
    
 }

 .top-menu li:hover{
     /* background-color: #DFDFDF; */
     background-color: #65737e;
     transform: scaleX(1.15);
     color: white;
     
 }

 .details-page{
     /* background-color: #99aab5; */
     background-color: white;
 }
 .page-title{
    color: #6C7A89;
    font-size: 20px;
    font-weight: bold;
    padding: 25px 20px;

 }


 .about-me{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-column-gap: 10px;
     grid-row-gap: 10px;
     padding:25px 20px ;
 }

 .about-me p span{
    color: #65737e;
    font-size: 13px;
 }

 .hr-line{
     border-style: dotted;
 }
  .note p{
    color: #53565a;
    font-size: 13px;
    padding:25px 20px ;
    text-align: justify;
  }

  

  /* progressbar */
/* Create a container using css properties */
.skills{
    background-color:#e6e6e6;
}
.container { 
    margin-left: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
} 
  
/* Apply css properties to ui-widgets class */
.ui-widgets { 
    position: relative; 
    display: inline-block; 
    width: 7rem; 
    height: 7rem; 
    border-radius: 9rem; 
    margin:1.5rem; 
    border: 1.2rem solid gray; 
    box-shadow: inset 0 0 7px #7289da; 
    border-left-color: #5f7786; 
    border-top-color:#5f7786 ; 
    border-right-color: #5f7786; 
    border-bottom-color: white ; 
    text-align: center; 
    box-sizing: border-box; 
} 
  
/* Apply css properties to the second 
    child of ui-widgets class */
.container .css { 
    border-top-color:#5f7786 ; 
    border-right-color: #5f7786; 
    border-left-color: #5f7786; 
    border-bottom-color: white; 
} 
.container .js { 
    border-top-color:#5f7786 ; 
    border-right-color: #5f7786; 
    border-left-color: #5f7786; 
    border-bottom-color: white; 
} 
.container .react { 
    border-top-color:#5f7786 ; 
    border-right-color: white; 
    border-left-color: #5f7786; 
    border-bottom-color: white; 
} 
  
/* Apply css properties to ui-widgets 
   class and ui-values class */
.ui-widgets .ui-values { 
    top: 15px; 
    position: absolute; 
    text-align:center ;
    left: 10px; 
    right: 0; 
    font-weight: 700; 
    font-size: 1.5rem; 
} 
  
/*  Apply css properties to ui-widgets  
class and ui-labels class */
.ui-widgets .ui-labels { 
    left: 0; 
    bottom: -16px;
    color:	black; 
    position: absolute; 
    width: 100%; 
    font-size: 12px; 
}

/* working are */
.working-area{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-row-gap: 25px;
    margin: 30px 20px;
}
.single-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.single-area span i{
    font-size: 20px;
    color: white;
    background-color:#243c4f;
    border-radius: 55px;
    width: 55px;
    display: inline-block;
    padding: 18px 0;
    margin-right: 5px;
    text-align: center;
}
.single-area span i:hover{
    transform: scale(1.1);
    transition: transform border-radius 5s ease-in-out;
    background-color: #7289da;
    color: black;
}
.single-area h3{
    font-size: 16px;
    font-weight: bold;
}

.single-area p{
    font-size: 10px;
    color: #7F7F7F;
}

footer div{
    color: #7F7F7F; 
}


/* contact us page */
.send-btn{
    color: white;  
     /* background-color: #df3950; */
     background-color: gray;

}

.send-btn:hover{
   
    background-color: #65737e;
    transform: scale(1.05);
}

/* timeline */
.timeline {
    position: relative;
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 1em 0;
    list-style-type: none;
  }
  
  .timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 6px;
    height: 100%;
    margin-left: -3px;
    background: rgb(80,80,80);
    background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
    background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    
    z-index: 5;
  }
  
  .timeline li {
    padding: 1em 0;
  }
  
  .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  
  .direction-l {
    position: relative;
    width: 300px;
    float: left;
    text-align: right;
  }
  
  .direction-r {
    position: relative;
    width: 300px;
    float: right;
  }
  
  .flag-wrapper {
    position: relative;
    display: inline-block;
    
    text-align: center;
  }
  
  .flag {
    position: relative;
    display: inline;
    background: rgb(248,248,248);
    padding: 6px 10px;
    border-radius: 5px;
    
    font-weight: 600;
    text-align: left;
  }
  
  .direction-l .flag {
    box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  }
  
  .direction-r .flag {
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  }
  
  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: 50%;
    right: -40px;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-top: -10px;
    background: #fff;
    border-radius: 10px;
    border: 10px solid rgb(238, 46, 46);
    z-index: 10;
  }
  
  .direction-r .flag:before {
    left: -40px;
  }
  
  .direction-l .flag:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgba(155, 151, 151, 0.856);
    border-width: 8px;
    pointer-events: none;
  }
  
  .direction-r .flag:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgba(155, 151, 151, 0.856);
    border-width: 8px;
    pointer-events: none;
  }
  
  .time-wrapper {
    display: inline;
    
    line-height: 1em;
    font-size: 0.66666em;
    color: rgb(250,80,80);
    vertical-align: middle;
  }
  
  .direction-l .time-wrapper {
    float: left;
  }
  
  .direction-r .time-wrapper {
    float: right;
  }
  
  .time {
    display: inline-block;
    padding: 4px 6px;
    background: rgb(248,248,248);
  }
  
  .desc {
    margin: 1em 0.75em 0 0;
    
    font-size: 0.77777em;
    font-style: italic;
    line-height: 1.5em;
    color: #c1c1c1;
  }
  
  .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }
  
  /* ================ Timeline Media Queries ================ */
  
  @media screen and (max-width: 660px) {
  
  .timeline {
       width: 100%;
      padding: 4em 0 1em 0;
  }
  
  .timeline li {
      padding: 2em 0;
  }
  
  .direction-l,
  .direction-r {
      float: none;
      width: 100%;
  
      text-align: center;
  }
  
  .flag-wrapper {
      text-align: center;
  }
  
  .flag {
      background: rgb(255,255,255);
      z-index: 15;
      color: #343d46;
  }
  
  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: -30px;
      left: 50%;
      content: ' ';
      display: block;
      width: 12px;
      height: 12px;
      margin-left: -9px;
      background: #fff;
      border-radius: 10px;
      border: 4px solid rgb(255,80,80);
      z-index: 10;
  }
  
  .direction-l .flag:after,
  .direction-r .flag:after {
      content: "";
      position: absolute;
      left: 50%;
      top: -8px;
      height: 0;
      width: 0;
      margin-left: -8px;
      border: solid transparent;
      border-bottom-color: rgb(255,255,255);
      border-width: 8px;
      pointer-events: none;
  }
  
  .time-wrapper {
      display: block;
      position: relative;
      margin: 4px 0 0 0;
      z-index: 14;
  }
  
  .direction-l .time-wrapper {
      float: none;
  }
  
  .direction-r .time-wrapper {
      float: none;
  }
  
  .desc {
      position: relative;
      margin: 1em 0 0 0;
      padding: 1em;
      background: rgb(245,245,245);
      -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
      -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
      box-shadow: 0 0 1px rgba(0,0,0,0.20);
      
    z-index: 15;
  }
  
  .direction-l .desc,
  .direction-r .desc {
      position: relative;
      margin: 1em 1em 0 1em;
      padding: 1em;
      
    z-index: 15;
  }
  
  }
  
 


/* meadia query */
@media only screen and (max-width: 600px) {

    body{
        background-color: white;
    }

    /* .side-profile{
        background-color: white;
        position: static;
        top: 0px;
    } */

    .side-profile img{
        height: 180px;
        width: 50%;
        border-radius: 50%;
        margin: auto;
        padding: 20px;
    }
    .top-menu{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: -80px;
        }


        .about-me{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-row-gap: 15px;
            font-size: 16px;
            margin-top: -20px;
           
        }


        .about-me p span{
            color: #53565a;
            font-size: 14px;
         }


         .container { 
            padding: 2rem;
            margin: 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        } 

        .ui-widgets { 
            position: relative; 
            display: inline-block; 
            width: 8rem; 
            height: 8rem; 
            border-radius: 9rem; 
            margin:1rem; 
        }

        .ui-widgets .ui-labels { 
            left: 20px; 
            bottom: -16px; 
            color:black; 
            position: absolute; 
            width: 60%; 
            font-size: 12px;
            text-align: center; 
        }

        .ui-widgets .ui-values { 
            top: 20px; 
            left: 0px;
            position: absolute; 
            left: 5px; 
            right: 0; 
            font-weight: 700; 
            font-size: 2rem; 
        } 

        .working-area{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-row-gap: 25px;
             margin: 30px 20px;
         } 
  }

  @media screen and (min-width: 400px ?? max-width: 660px) {
  
    .direction-l .desc,
    .direction-r .desc {
        margin: 1em 4em 0 4em;
    }
    
    }