/* font */
/* font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Poppins', sans-serif; */

body{
    /* background-color: rgba(228, 223, 223,0.8); */
    background-color: #c9c9ff;
    /* background-color: #3b444b; */
    /* background-color: #36454f; */

}


/* side profile design */
.side-profile{
    height: 520px;
    /* background-color: #df3950; */
    background-color: white;
    /* position: sticky; */
    top: 0;
}
.side-profile img{
    height: 300px;
}

.side-profile h1{
    color: #343d46;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif; 

}
.job{
    color: #c1c1c1;
    font-weight: 400;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
}

.social-icons a{
    font-size: 12px;
    color: #2A2A2A;
    border: solid 1px #2A2A2A;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 34px;
    display: inline-block;
    padding: 8px 0;
    margin-right: 5px;
    text-align: center;
}



.facebook:hover{
background-color: 	#3b5998;
border: white;
color: white;
}
.twitter:hover{
background-color: #009eff;
border: white;
color: white;
}
.instagram:hover{
background-color: #ffb900;
border: white;
color: white;
}
.github:hover{
background-color: black;
border: white;
color: white;
}

/* navbar design */

.top-menu{
display: grid;
grid-template-columns: repeat(5,1fr);

}
 .top-menu li{
    border-right: 1px dotted gray;
    color: #343d46;
     display: flex;
     padding: 35px 8px;
     /* background-color: #df3950; */
     background-color: white;
     justify-content: center;
     font-weight: 500;

 }
 .top-menu li:last-child{
    border-right:white;
    
 }

 .top-menu li:hover{
     /* background-color: #DFDFDF; */
     background-color: #65737e;
     transform: scaleX(1.15);
     color: white;
     
 }

 .details-page{
     /* background-color: #99aab5; */
     background-color: white;
 }
 .page-title{
    color: #6C7A89;
    font-size: 20px;
    font-weight: bold;
    padding: 25px 20px;

 }


 .about-me{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-column-gap: 10px;
     grid-row-gap: 10px;
     padding:25px 20px ;
 }

 .about-me p span{
    color: #65737e;
    font-size: 13px;
 }

 .hr-line{
     border-style: dotted;
 }
  .note p{
    color: #53565a;
    font-size: 13px;
    padding:25px 20px ;
    text-align: justify;
  }

  

  /* progressbar */
/* Create a container using css properties */
.skills{
    background-color:#e6e6e6;
}
.container { 
    margin-left: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
} 
  
/* Apply css properties to ui-widgets class */
.ui-widgets { 
    position: relative; 
    display: inline-block; 
    width: 7rem; 
    height: 7rem; 
    border-radius: 9rem; 
    margin:1.5rem; 
    border: 1.2rem solid gray; 
    box-shadow: inset 0 0 7px #7289da; 
    border-left-color: #36454f; 
    border-top-color:#41525e ; 
    border-right-color: #5f7786; 
    border-bottom-color: white ; 
    text-align: center; 
    box-sizing: border-box; 
} 
  
/* Apply css properties to the second 
    child of ui-widgets class */
.container .css { 
    border-top-color:#41525e ; 
    border-right-color: #5f7786; 
    border-left-color: #36454f; 
    border-bottom-color: white; 
} 
.container .js { 
    border-top-color:#41525e ; 
    border-right-color: white; 
    border-left-color: #36454f; 
    border-bottom-color: white; 
} 
.container .react { 
    border-top-color:white ; 
    border-right-color: white; 
    border-left-color: #36454f; 
    border-bottom-color: white; 
} 
  
/* Apply css properties to ui-widgets 
   class and ui-values class */
.ui-widgets .ui-values { 
    top: 15px; 
    position: absolute; 
    text-align:center ;
    left: 10px; 
    right: 0; 
    font-weight: 700; 
    font-size: 1.5rem; 
} 
  
/*  Apply css properties to ui-widgets  
class and ui-labels class */
.ui-widgets .ui-labels { 
    left: 0; 
    bottom: -16px;
    color:	black; 
    position: absolute; 
    width: 100%; 
    font-size: 12px; 
}

/* working are */
.working-area{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-row-gap: 25px;
    margin: 30px 20px;
}
.single-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.single-area span i{
    font-size: 20px;
    color: white;
    background-color:#243c4f;
    border-radius: 55px;
    width: 55px;
    display: inline-block;
    padding: 18px 0;
    margin-right: 5px;
    text-align: center;
}
.single-area span i:hover{
    transform: scale(1.1);
    transition: transform border-radius 5s ease-in-out;
    background-color: #7289da;
    color: black;
}
.single-area h3{
    font-size: 16px;
    font-weight: bold;
}

.single-area p{
    font-size: 10px;
    color: #7F7F7F;
}

footer div{
    color: #7F7F7F; 
}


/* meadia query */
@media only screen and (max-width: 600px) {

    body{
        background-color: white;
    }

    /* .side-profile{
        background-color: white;
        position: static;
        top: 0px;
    } */

    .side-profile img{
        height: 180px;
        width: 50%;
        border-radius: 50%;
        margin: auto;
        padding: 20px;
    }
    .top-menu{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: -80px;
        }


        .about-me{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-row-gap: 15px;
            font-size: 16px;
            margin-top: -20px;
           
        }


        .about-me p span{
            color: #53565a;
            font-size: 14px;
         }


         .container { 
            padding: 2rem;
            margin: 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        } 

        .ui-widgets { 
            position: relative; 
            display: inline-block; 
            width: 8rem; 
            height: 8rem; 
            border-radius: 9rem; 
            margin:1rem; 
        }

        .ui-widgets .ui-labels { 
            left: 20px; 
            bottom: -16px; 
            color:black; 
            position: absolute; 
            width: 60%; 
            font-size: 12px;
            text-align: center; 
        }

        .ui-widgets .ui-values { 
            top: 20px; 
            left: 0px;
            position: absolute; 
            left: 5px; 
            right: 0; 
            font-weight: 700; 
            font-size: 2rem; 
        } 

        .working-area{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-row-gap: 25px;
             margin: 30px 20px;
         } 
  }