/* font */
/* font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Poppins', sans-serif; */

body{
    background-color: rgba(228, 223, 223,0.8);
}


/* side profile design */
.side-profile{
    height: 420px;
}
.side-profile img{
    height: 205px;
}

.side-profile h1{
    color: #6C7A89;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif; 

}
.job{
    color: #c1c1c1;
    font-weight: 400;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
}

.social-icons a{
    font-size: 12px;
    color: #2A2A2A;
    border: solid 1px #2A2A2A;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 34px;
    display: inline-block;
    padding: 8px 0;
    margin-right: 5px;
    text-align: center;
}

.facebook:hover{
background-color: rgba(38, 38, 245, 0.972);
border: white;
color: white;
}
.twitter:hover{
background-color: rgb(84, 183, 223);
border: white;
color: white;
}
.instagram:hover{
background-color: #bc1888;
border: white;
color: white;
}
.github:hover{
background-color: black;
border: white;
color: white;
}

/* navbar design */

.top-menu{
display: grid;
grid-template-columns: repeat(5,1fr);

}
 .top-menu li{
    border-right: 1px dotted gray;
     display: flex;
     padding: 35px 8px;
     background-color: white;
     justify-content: center;
     font-weight: 500;

 }
 .top-menu li:last-child{
    border-right:white;
    
 }

 .top-menu li:hover{
     background-color: #DFDFDF;
 }


 .page-title{
    color: #6C7A89;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    padding: 25px 20px;

 }


 .about-me{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-column-gap: 10px;
     grid-row-gap: 10px;
     padding:25px 20px ;
 }

 .about-me p span{
    color: #53565a;
    font-size: 13px;
 }

 .hr-line{
     border-style: dotted;
 }
  .note p{
    color: #53565a;
    font-size: 13px;
    padding:25px 20px ;
    text-align: justify;
  }

  .note h2{
      color: black;
      font-size: 20px;
      font-weight: bold;
      display: inline-block;
      padding:25px 20px ;
      margin-bottom: -20px;
  }


  /* meadia query */
  @media only screen and (max-width: 600px) {
    .top-menu{
        display: grid;
        grid-template-columns: 1fr;
        
        }

        .about-me{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-row-gap: 15px;
            font-size: 16px;
            margin-top: -20px;
           
        }

        .about-me p span{
            color: #53565a;
            font-size: 14px;
         }
  }